<aside class="bio-container">
    <h2>Jackson Lacerda</h2>
    <img class="bio-image" src="./../../../assets/images/profile.jpg" alt="Jackson Lacerda"/>
    <p><span class="highlight">Desenvolvedor FrontEnd</span> focado em Angular.</p>
    <p class="contact-text">CONTATO</p>
    <ul class="social-container">    
        <li><a href="https://www.linkedin.com/in/jackson-lacerda-a02500229/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://github.com/jacksonlacerda" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="mailto:jacksonlacerda2106@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
    </ul>
    <div class="email-container">
        <a href="mailto:jacksonlacerda2106@gmail.com">jacksonlacerda2106@gmail.com</a>
    </div>
</aside>
