<main class="container">
    <app-aside></app-aside>
    <section class="about-container">
        <div class="fadeIn">
            <h1 class="name">Portifólio</h1>
            <p class="title"><span class="highlight">Desenvolvedor FrontEnd</span></p>
            <p class="description">
                Sou um desenvolvedor especializado em <span class="highlight">Frontend</span>, com maior foco de utlização no framework <span class="highlight">Angular</span> e suas ferramentas, tenho conhecimentos também em <span class="highlight">Testes Unitários</span> como <span class="highlight">Karma e Jasmine</span>.
            </p>
            <p class="description">
                Possuo conhecimentos também em <span class="highlight">UI Designer e UX</span>, pois entendo que uma ótima interface e exeperiência de usuário é de extrema importância para  a satisfação do cliente e boa interatividade do usúario com a aplicação. Fora isso, ele precisa também ser bem adaptado para todas as resoluções e navegadores. A principal ferramenta que eu utilizo para a prototipação do projeto é o <span class="highlight">Figma</span>.
            </p>
            <p class="description">
                Tenho também noções das principais tecnologias <span class="highlight">Backend</span>, como por exemplo o <span class="highlight">Java e o Node.js</span>, afim de ter uma boa comunicação com equipe e para saber a melhor forma de consumir a API e integrar com o lado servidor.
            </p>

            <a routerLink="/projetos" class="btn-projects"><span>Ver Projetos</span></a>
            
            <h2 class="skills-section-title">Minhas Skills FrontEnd</h2>
            <p class="description">
                Conheça minhas tecnologias frontend:
            </p>

            <div class="skills-container">
                <div class="skills-box">
                    <p class="skills-title-front">Front-end</p>
                    <i class="devicon-html5-plain colored" aria-label="HTML"></i>
                    <i class="devicon-css3-plain colored" aria-label="CSS"></i>
                    <i class="devicon-javascript-plain colored" aria-label="Javascript"></i>
                </div>

                <div class="skills-box">
                    <p class="skills-title-front">Frameworks / Libs</p>
                    <i class="devicon-react-plain colored" aria-label="React"></i>
                    <i class="devicon-angularjs-plain colored" aria-label="Angular"></i>
                    <i class="devicon-vuejs-plain colored" aria-label="Vuejs"></i>
                </div>

                <div class="skills-box">
                    <p class="skills-title-front">Styles</p>
                    <i class="devicon-sass-original colored" aria-label="Sass"></i>
                    <i class="devicon-less-plain-wordmark colored" aria-label="Less"></i>
                    <i class="devicon-bootstrap-plain colored" aria-label="Bootstrap"></i>
                </div>

                <div class="skills-box">
                    <p class="skills-title-front">UI / UX</p>
                    <i class="devicon-figma-plain colored" aria-label="Figma"></i>
                    <i class="devicon-photoshop-line colored" aria-label="Photoshop"></i>
                </div>

                <div class="skills-box">
                    <p class="skills-title-front">Tecnologias Auxiliares</p>
                    <i class="devicon-typescript-plain colored" aria-label="Typescript"></i>
                    <i class="devicon-jquery-plain-wordmark colored" aria-label="Jquery"></i>
                    <i class="devicon-wordpress-plain" aria-label="Wordpress"></i>
                </div>
            </div>

            <h2 class="skills-section-title">Minhas Skills BackEnd</h2>
            <p c="description">Noções de algumas tecnologias backend:</p>
            <div class="skills-container">

                <div class="skills-box">
                    <p class="skills-title-back">Back-end</p>
                    <i class="devicon-nodejs-plain colored" aria-label="Nodejs"></i>
                    <i class="devicon-php-plain colored" aria-label="PHP"></i>
                    <i class="devicon-firebase-plain-wordmark colored" aria-label="Firebase"></i><br>
                    <i class="devicon-java-plain-wordmark" aria-label="Java"></i>
                    <i class="devicon-csharp-plain colored" aria-label="C#"></i>
                    
                </div>

                <div class="skills-box">
                    <p class="skills-title-back">Frameworks</p>
                    <i class="devicon-nodejs-plain colored" aria-label="Express"></i>
                    <i class="devicon-spring-plain-wordmark colored" aria-label="Spring Boot"></i>
                    <i class="devicon-dotnetcore-plain colored" aria-label=".NET"></i>
                </div>

                <div class="skills-box">
                    <p class="skills-title-back">Databases</p>
                    <i class="devicon-mongodb-plain colored" aria-label="Mongodb"></i>
                    <i class="devicon-mysql-plain colored" aria-label="MySQL"></i>
                    <i class="devicon-firebase-plain-wordmark colored" aria-label="Firebase"></i><br>
                    <i class="devicon-oracle-original" aria-label="Oracle"></i>
                    <i class="devicon-microsoftsqlserver-plain-wordmark" aria-label="SQL Server"></i>
                </div>
            </div>

            <h2 class="skills-section-title">Minhas Skills Gerais</h2>
            <p c="description">Ferramentas utilitárias que eu conheço:</p>
            <div class="skills-container">

                <div class="skills-box">
                    <p class="skills-title-general">Unit Test</p>
                    <i class="devicon-karma-plain colored" aria-label="Karma"></i>
                    <i class="devicon-jasmine-plain colored" aria-label="Jasmine"></i>
                    <i class="devicon-jest-plain colored" aria-label="Jest"></i>
                </div>

                <div class="skills-box">
                    <p class="skills-title-general">GIT / Repository</p>
                    <i class="devicon-git-plain colored" aria-label="Git"></i>
                    <i class="devicon-github-original" aria-label="Github"></i>
                    <i class="devicon-bitbucket-original colored" aria-label="Bitbucket"></i>
                </div>
            </div>
        </div>
    </section>
</main>
