<main class="container">
    <app-aside></app-aside>
    <section class="about-container">
        <div class="fadeIn">
            <h1 class="name">Portifólio</h1>
            <p class="title"><span class="highlight">Desenvolvedor FrontEnd</span></p>
            <p class="description">
                Sou um desenvolvedor especializado em <span class="highlight">Frontend</span>, com maior foco de utlização no framework <span class="highlight">Angular</span> e suas ferramentas, tenho conhecimentos também em <span class="highlight">Testes Unitários</span> como <span class="highlight">Karma e Jasmine</span>.
            </p>
            <p class="description">
                Possuo conhecimentos também em <span class="highlight">UI Designer e UX</span>, pois entendo que uma ótima interface e exeperiência de usuário é de extrema importância para  a satisfação do cliente e boa interatividade do usúario com a aplicação. Fora isso, ele precisa também ser bem adaptado para todas as resoluções e navegadores. A principal ferramenta que eu utilizo para a prototipação do projeto é o <span class="highlight">Figma</span>.
            </p>
            <p class="description">
                Tenho também noções das principais tecnologias <span class="highlight">Backend</span>, como por exemplo o <span class="highlight">Java e o Node.js</span>, afim de ter uma boa comunicação com equipe e para saber a melhor forma de consumir a API e integrar com o lado servidor.
            </p>
        </div>
    </section>
</main>